<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Truth or Dare</title>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/popper.js"></script>
    <script defer src="/app/script.js"></script>
    <link rel="icon" href="/icons/favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/app/style.css" />
    <link rel="stylesheet" href="/app/number.css" />
  </head>

  <body>
    <div class="container1">
        <div id="loginBox" class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="signupcard card-signin my-5">
                        <div class="card-body">
                            {{!-- <h5 class="card-title text-center">Names of the players</h5> --}}
                            <div class="row">
                                <div class="col-3 m-auto p-auto" style="text-align: center;">
                                    <span class="playerName"><button type="button" class="playerBtn btn btn-dark">{{player1}}</button></span>
                                </div>
                                <div class="col-5 m-auto p-auto" style="text-align: center;">
                                    <span><img src="/icons/gun.png" class="user_img"></span>
                                </div>
                                <div class="col-3 m-auto p-auto" style="text-align: center;">
                                    <span class="playerName"><button type="button" class="playerBtn btn btn-dark">{{player2}}</button></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 m-auto ps-auto" style="text-align: center;">
                                    <form class="m-auto p-auto" method="get" action="/game">
                                        <button id="goBtn" type="submit" class="btn btn-outline-success">Go</button>
                                    </form>
                                </div>
                                <div class="col-6 m-auto ps-auto" style="text-align: center;">
                                    <form class="m-auto p-auto" method="post" action="/game">
                                        <button id="endBtn" type="submit" class="btn btn-outline-danger">End</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>

</html>